/* =============
    Images
============= */
.project-cover {
    >img {
        background-color: $darkgrey;
        padding: 5px;
        width: 235px;
    }
}

.cover {
    >img {
        background-color: $darkgrey;
        padding: 5px;
        width: 320px;
    }
}

.artist-image {

    >img {
        background-color: $darkgrey;
        padding: 5px;
        width: 320px;
    } 

}

.media-icon {

    >img {
    background-color: $darkgrey;
    padding: 5px;
    width: 200px;
    }
}


.scott-image{
    >img{
        width: 200px;
    }
}

#video{
    width: 100%;
}