/* =============
   Main Page
============= */

#main-page {
    >#video {
        margin-top: 70px;
    }

    >#description {
        margin: 60px 10%;
        display: grid;
        grid-template-columns: 1fr 2fr;

        >aside {
            text-align: right;
        }

        >h5 {
            height: fit-content;
            margin: auto;
            margin-left: 50px;
        }
    }

    >#buttons {
        margin-bottom: 60px;
        margin-top: -30px;
        display: grid;
        text-align: right;
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
            ". button1"
            ". button2"
            ". button3";

        >#button1 {
            grid-area: button1;
        }

        >#button2 {
            grid-area: button2;
        }

        >#button3 {
            grid-area: button3;
        }

        >a {
            margin-top: -30px;
            margin-left: 100px;
            margin-right: auto;

            >h3 {
                width: fit-content;
            }
        }
    }

    >#project-icons {
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
        margin-bottom: 80px;
        display: block;
       
        >a {
            text-align: center;

            >img {
                width: 230px;
                margin: 10px;
            }

            >.hover {
                display: none;
            }
        }

        >a:hover,
        a:active {
            >.regular {
                display: none;
            }

            >.hover {
                display: inline;
            }
        }
    }

    @media screen and (max-width: 700px){
        >#video {
            margin-top: 90px;
        }
        
        >#description {
            margin: 60px 10%;
            display: block;
    
            >aside {
                text-align: center;
                margin-bottom: 30px;
            }
    
            >h5 {
                margin: auto;
            }
        }

        >#buttons {
            text-align: center;
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            grid-template-areas:
                ". button1 ."
                ". button2 ."
                ". button3 .";
    
            >#button1 {
                grid-area: button1;
            }
    
            >#button2 {
                grid-area: button2;
            }
    
            >#button3 {
                grid-area: button3;
            }
    
            >a {
                margin-right: auto;
                margin-left: auto;
            }
        }
    }
    @media screen and (max-width: 350px){
        >#video {
            margin-top: 1200px;
        }
    }
}