/* =============
    Header
============= */

#header {
    background-color: $black;
    position: fixed;
    top: 0;
    width: 100%;

    >div {
        display: grid;
        grid-template-columns: 1fr 2fr;


>#header-logo{
    height: 70px;
    >a {
        >img {
            height: 50px;
            margin: 10px;
        }
    }
}


        >div {
            display: grid;
            grid-template-columns: auto auto auto auto auto auto;
            margin-left: 10%;

            >a {
                height: 50px;
                text-align: center;

                >h6 {
                    margin: 20px 5px;
                }
            }
        }
    }

    @media screen and (max-width: 700px) {
height: 80px;
        >div {
            >div {
                text-align: center;
                >a {
                    height: 70px;
                    text-align: center;

                    >h6 {
                        margin: 5px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 600px) {
        height: fit-content;
        >div {
            display: block;
            grid-template-columns: 1fr 2fr;

            >a {
                >img {
                    height: 50px;
                    margin: 10px;
                }
            }

            >div {
                display: grid;
                grid-template-columns: auto auto auto;
                margin-right: 5%;

                >a {
                    height: fit-content;
                    text-align: center;

                    >h6 {
                        margin:5px;
                        font-size: 14pt;
                    }
                }
            }
        }
    }
}