/* =============
    Header
============= */

#header {
    background-color: $black;
    position: fixed;
    top: 0;
    width: 100%;

    >div {
        display: grid;
        grid-template-columns: 1fr 2fr;
        >a {
            >img {
                height: 50px;
                margin: 10px;
            }

        }

        >div{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            margin-left: 10%;

            >a{
                height: 50px;
                text-align: center;
                >h6{
                    margin: 20px 5px;
                }
            }
        }

    }
}